footer {
  padding: 25px 0;
  text-align: center;
}

.copyright {
  line-height: 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
}

.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      background-color: $brand-color;
    }
}

.quicklinks a {
  color: $brand-color;
  text-decoration: none;
  line-height: 40px;
}
