.navbar-default {
  z-index: 2;
  background-color: rgba(255,255,255, 100);
  padding: 10px 0;
  border: none;
  .navbar-nav > li > a {
    color: $brand-color;
  }
  // .navbar-brand {
  //   color: white;
  // }
}

.logo-brand img {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 100px;
  width: 100px;
  z-index: 3;
}

.social-logo {
  list-style-type: none;
  position: fixed;
  text-align: center;
  top: 40vh;
  left: 0px;
  z-index: 3;
}

.social-logo  a {
  margin: 10px;
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 0%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background-color: $brand-color;
  }
}
