section#contact {
  background-color: #222222;
  background-image: image-url('map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}

  #contact .section-subheading {
    color: $brand-color;
  }

.btn-xl {
  color: #ffffff;
  background-color: $brand-color;
  border-color: $brand-color;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  margin-top: 15px;
  padding: 10px 20px;
}

.btn-xl:hover {
  background-color: darken($brand-color, 5%);
  border-color: darken($brand-color, 5%);
  color: #ffffff;
}
