.circle {
  margin: 0 auto;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  border: 2px solid $brand-color;
  text-align: center;
  color: $brand-color;
  h4 {
    padding-top: 50px;
  }
}

.added-value {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
