.inspiration-item {
  height: 40vh;
}

.inspiration-comment {
  height: 40vh;
  h4 {
    padding-top: 10px;
  }
}

.inspiration-one {
  background-image: image-url('pierres.JPG');
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}

.inspiration-two {
  background-image: image-url('pierres.JPG');
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}

.inspiration-three {
  background-image: image-url('pierres.JPG');
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}

.inspiration-four {
  background-image: image-url('pierres.JPG');
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
}
