<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <ul class="list-inline quicklinks">
                  <li><a href="#">&copy; OnceAway</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul class="list-inline social-buttons">
                  <li><a href="#"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li><a href="#"><i class="fa mail fa-envelope-o"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <ul class="list-inline">
                  <li><i class="fa fa-phone-square"></i></li>
                  <li>+ 33 6 18 49 20 31</li>
              </ul>
              <ul class="list-inline">
                  <li><i class="fa fa-envelope"></i></li>
                  <li>marie@onceaway.com</li>
              </ul>
          </div>
      </div>
  </div>
</footer>
